<footer class="mt-5 py-4 bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 mb-3">
        <h5>NomadNest</h5>
        <p>Your home away from home.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <div class="foot-icons">
          <a href="#" class="text-decoration-none me-2"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="#" class="text-decoration-none me-2"><i class="fa-brands fa-square-facebook"></i></a>
          <a href="#" class="text-decoration-none"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Support</h5>
        <a href="#" class="d-block text-decoration-none">Privacy Policy</a>
        <a href="#" class="d-block text-decoration-none">Terms of Service</a>
      </div>
    </div>
    <hr>
    <p class="text-center mb-0">&copy; 2025 NomadNest. All rights reserved.</p>
  </div>
</footer>